@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DotWalkers</h1>
    <p class="lead">A Dorchester-based, citywide dog walking service that works around your schedule!</p>
    <p class="lead">Register now to get started quickly and easily.</p>
    <p><a href="http://localhost:51145/Home/About" class="btn btn-primary btn-lg">Who are we? &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Meet the Walkers</h2>
        <p>
            Go here to view pictures and short bios about all of our Walkers (whether Dot or not)!
        </p>
        <p><a class="btn btn-default" href="http://localhost:51145/Home/Bios">Learn more &raquo;</a></p>
    </div>

    <div class="col-md-4"></div>

    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>