
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br /><br /><br />
<h2>Woof</h2>
<p>Your message was sent successfully. We'll contact you as soon as possible.</p>

